﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Site.master" 
    CodeFile="About.aspx.cs" Inherits="ProtectedContent_About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        O stronie
    </h2>
    <p>
        To jest strona tyko dla zalogowanych wszystkich użytkowników.
    </p>
</asp:Content>
