﻿body 
{
    background-color: cornflowerblue;
}

div.menu 
{
    padding: 4px 0px 4px 8px;
}

div.menu ul 
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited 
{
    background-color: aquamarine;
    border: 2px green solid;
    color: green;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    text-shadow: 0px -1px green;
}

div.menu ul li a:hover
{
    background-color: lawngreen;
    font-size: 1.05em;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: lawngreen;
    text-decoration: none;
}

.page
{
    width: 80%;
    background-color: aqua;
    margin: 20px auto 0px auto;
    border: 5px dotted blue;
    padding: 20px;
}

.header {
    background-color: aqua;
    border-bottom: 5px dashed blue;
    padding: 20px;
}

.header h1 
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: black;
    border: none;
    text-decoration: underline;
    line-height: 2em;
    font-size: 2em;
}

.loginDisplay 
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: black;
}

.loginDisplay a:link 
{
    color: black;
}

.loginDisplay a:visited 
{
    color: black;
}

.loginDisplay a:hover 
{
    color: black;
}


.footer {
    width: 80%;
    padding: 20px;
    margin: 0px auto 0px auto;
    text-align: center;
}


table, tr, td, th
{
    border: 2px solid black;
}

tr:nth-child(even) {
    background: #009FF0;
}

th
{
    font-weight: bold;
}

.main h2
{
    font-size: 1.5em;
    color: black;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
    text-align: center;
}

.table_data
{
    margin: auto;
}