input{
    width: 100px;
    transition: width 2s;
}

input:not([type=submit]):not([type=reset]):not([type=range]):focus{
    background-color: rgb(202, 216, 17);
    width: 200px;
}

input:enabled {
    background: rgb(202, 216, 173);;
}

input:disabled {
    background: #dddddd;
}

h1.form_h1{
    color: hsla(191, 100, 50, 1.0);
    text-align:center;
    text-decoration: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(30deg, rgba(20, 147, 220, 0.9), rgba(220, 20, 112, 0.10));
}

.form2{
    color:teal;
    text-align:center;
    text-decoration: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(30deg, hsla(191, 100, 50, 1.0), rgba(220, 20, 112, 0.10));
}