h1{
    text-align: center;
    color: blue;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
    text-align: left;
    color: azure;
    font-size: 20px;
    text-align: justify;

}

body{
    margin-right: 10em;
    margin-top: 2em;
    margin-left: 10em;
    margin-bottom: 2em;
    padding: 10em;
    border-style: solid;
    border-color: rgb(22, 95, 158);
    background-color: black;
}

.float_clear{
    overflow: auto;
}

.float_image{
    float: right;
}

p.with_border{
    border: green solid 2px;
}