table {
    background-color: lightblue;
    border: 1px solid gray;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border: 1px solid gray;
}

tr:nth-child(even) {
    background-color: white;
}

tr:first-child {
    background-color: lightgreen;
}