@media screen {
    @font-face {
        font-family: "Amatic SC";
        src: url(AmaticSC-Bold.ttf) format("opentype");
    }
    body {
        background-color: aqua;
        background-image: url("cpplogo.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 250px;
        border-style: outset;
        padding: 50px;
        margin: 5ex;
        background-position: 90% 10%;
    }
    p {
        width: 80%;
        color: black;
    }
    h1 {
        font-family: Amatic SC, cursive;
        text-decoration: underline;
        font-size: 50pt;
        text-shadow: 3px 3px #f1e539;
    }
    h2, h3 {
        color: hsl(274, 100%, 52%, 0.9);
    }
    a.goToMain {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 200%;
        display: block;
    }
    footer {
        text-align: center;
    }
    a {
        color: green;
        text-decoration: none;
    }
    div {
        padding: 5pt;
    }
    label{ 
        width: 5em; 
        float: left; 
    }
}