input{
    width: 100px;
    transition: width 2s;
}

input:not([type=submit]):not([type=reset]):not([type=range]):focus{
    background-color: rgb(202, 216, 17);
    width: 200px;
}

input:enabled {
    background: rgb(202, 216, 173);;
}

input:disabled {
    background: #dddddd;
}