@media screen {
    body {
        background-color: aqua;
        background-image: url("cpplogo.png");
        background-position-y: 10%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 250px;
        /* background-position: 0%; */
        border-style: outset;
        padding: 50px;
        margin: 5ex;
        background-position: 90% 10%;
    }
    p {
        width: 80%
    }
    h1 {
        text-decoration: underline;
        font-size: 50pt;
    }
    h2, h3 {
        color: rgb(150, 10, 255);
    }
    .instruction {
        font-style: italic;
    }
    a.goToMain {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 200%;
        display: block;
    }
    footer {
        text-align: center;
    }
    table {
        margin: 20pt;
        text-align: center;
        border-collapse: collapse;
        font-size: 15pt;
    }
    th {
        height: 3em;
    }
    table, tr, td {
        border: 3px solid green;
        border-style: double;
        padding: 10pt;
    }

    a:visited{
        color: red;
        text-decoration: none;
    }
    a{
        color: green;
        text-decoration: none;
    }



}

@media print {
    body {
        padding: 5px;
        margin: 5ex;
    }
    p {
        width: 100%
    }
    h1 {
        text-decoration: underline;
        font-size: 20pt;
    }
    h2, h3 {
        font-size: 0.9em;
    }
    .instruction {
        font-style: italic;
    }
    a.goToMain {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 200%;
        display: block;
    }
    footer {
        text-align: center;
    }
    table {
        margin: 20pt;
        text-align: center;
        border-collapse: collapse;
        font-size: 15pt;
    }
    th {
        height: 3em;
    }
    table, tr, td {
        border: 3px solid black;
        border-style: double;
        padding: 10pt;
    }

    a{
        text-decoration: none;
    }
}