@media screen {
    body {
        background-color: aqua;
        background-image: url("cpplogo.png");
        background-repeat: no-repeat;
        background-position-x: center;
    }
    h1 {
        font-size: 5em;
        color: rgb(0, 0, 0);
        text-align: center;
        text-shadow: -2px -2px rgb(49, 110, 190);
    }
    h2 {
        color: rgb(0, 0, 0);
        text-align: center;
    }
    .dynamiczna_tablica {
        display: -webkit-box;
        display: box;
        -webkit-box-orient: horizontal;
        box-orient: horizontal;
        width: 600px;
        height: 400px;
        margin: auto;
        opacity: 0.6;
    }
    .dynamiczna_tablica>div {
        width: 120px;
        -webkit-transition: width 2s;
        transition: width 2s;
        margin: 10px 10px 10px -20px;
        padding: 20px;
        border-style: double;
        border-radius: 20px;
    }
    .dynamiczna_tablica:hover {
        opacity: 1;
    }
    .dynamiczna_tablica>div:hover {
        width: 300px;
    }
    .dynamiczna_tablica>div:nth-child(1) {
        background-color: rgb(186, 231, 216);
    }
    .dynamiczna_tablica>div:nth-child(2) {
        background-color: rgb(186, 231, 216);
    }
    .dynamiczna_tablica>div:nth-child(3) {
        background-color: rgb(186, 231, 216);
    }
    .dynamiczna_tablica>div:nth-child(4) {
        background-color: rgb(186, 231, 216);
    }
    .dynamiczna_tablica>div:nth-child(1):hover {
        background-color: rgb(92, 209, 170);
    }
    .dynamiczna_tablica>div:nth-child(2):hover {
        background-color: rgb(92, 209, 170);
    }
    .dynamiczna_tablica>div:nth-child(3):hover {
        background-color: rgb(92, 209, 170);
    }
    .dynamiczna_tablica>div:nth-child(4):hover {
        background-color: rgb(92, 209, 170);
    }
    .dynamiczna_tablica p {
        overflow: hidden;
        height: 250px;
    }
    article {
        padding: 20px;
        margin-bottom: 20px;
    }
    footer {
        position: relative;
        text-align: center;
    }
    a.goToMain {
        position: relative;
        text-align: center;
        font-size: 1.5em;
        margin-right: 10%;
    }

    div.multicolumn:hover {
        background-color: aqua;
        opacity: 0.7;
    }

    div.multicolumn > div{
        color: black;
    }
}

@media only screen and (min-width:1025px) {
    div.multicolumn {
        column-count: 3;
        column-gap: 30px;
    }
}

@media only screen and (min-width:481px) and (max-width:1024px) {
    div.multicolumn {
        column-count: 2;
        column-gap: 30px;
    }
}

@media only screen and (max-width:480px) {
    div.multicolumn {
        column-count: 1;
        column-gap: 30px;
    }
}