@media screen {
    @font-face {
        font-family: "Amatic SC";
        src: url(AmaticSC-Bold.ttf) format("opentype");
    }

    body {
        background-color: aqua;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 250px;
        border-style: outset;
        padding: 50px;
        margin: 5ex;
        background-position: 90% 10%;
    }

    p {
        width: 80%
    }

    h1 {
        font-family: Amatic SC, cursive;
        text-decoration: underline;
        font-size: 50pt;
        text-shadow: 3px 3px #f1e539;
    }

    h2, h3 {
        color: hsl(274, 100%, 52%, 0.9);
    }

    footer {
        text-align: center;
    }

    table {
        margin: 20pt;
        border-collapse: collapse;
        /*font-size: 15pt;*/
    }

    th {
        height: 3em;
    }

    table.order, tr.order., td.order {
        border: 3px solid green;
        border-style: double;
        padding: 10pt;
        font-size: 1.5em;
    }

    a:visited {
        color: red;
        text-decoration: none;
    }

    a {
        color: green;
        text-decoration: none;
    }
}
