@media screen {
    @font-face {
        font-family: "Amatic SC";
        src: url(AmaticSC-Bold.ttf) format("opentype");
    }
    body {
        background-color: aqua;
        background-image: url("cpplogo.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 250px;
        border-style: outset;
        padding: 50px;
        margin: 5ex;
        background-position: 90% 10%;
    }
    body.literatura {
        background-image: radial-gradient(farthest-corner at 40px 40px, rgba(224, 182, 189, 0.63) 0%, rgba(179, 176, 211, 0.9) 100%);
        background-size: cover;
        background-repeat: no-repeat;
    }
    body.formularz2 {
        background-image: url("cpplogo.png"), radial-gradient(circle at 100%, #446, #446 75%, #99B);
        background-repeat: no-repeat, no-repeat;
        background-size: 250px, cover;
        background-position: 90% 10%;
    }
    p {
        width: 80%
    }

    h1 {
        font-family: Amatic SC, cursive;
        text-decoration: underline;
        font-size: 50pt;
        text-shadow: 3px 3px #f1e539;
    }
    h2, h3 {
        color: hsl(274, 100%, 52%, 0.9);
    }
    .instruction {
        font-style: italic;
    }
    a.goToMain {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 200%;
        display: block;
    }
    footer {
        text-align: center;
    }
    table {
        margin: 20pt;
        text-align: center;
        border-collapse: collapse;
        font-size: 15pt;
    }
    th {
        height: 3em;
    }
    table, tr, td {
        border: 3px solid green;
        border-style: double;
        padding: 10pt;
    }
    a:visited {
        color: red;
        text-decoration: none;
    }
    a {
        color: green;
        text-decoration: none;
    }
    div.border_rad {
        border-radius: 10px 20px 5px 20px;
        background: #73AD21;
        padding: 20px;
    }
    div.border_macro_class {
        border-radius: 30px;
        padding: 30px;
        background: rgb(91, 142, 218);
        box-shadow: 5px 5px #f1e539;
    }

    div#dlaczegocpp_s {
        border-width: 30px;
        padding: 20px 20px;
        border-style: solid;
        -webkit-border-image: url(border-image-lines.png) 80 80 80 80 stretch;
        -moz-border-image: url(border-image-lines.png) 80 80 80 80 stretch; 
        -o-border-image: url(border-image-lines.png) 80 80 80 80 stretch; 
        border-image: url(border-image-lines.png) 80 80 80 80 stretch;        
    }

    div#dlaczegocpp_r {
        border-width: 30px;
        padding: 20px 20px;
        border-style: solid;
        -webkit-border-image: url(ornament.svg) 34% 34% repeat;
        -moz-border-image: url(ornament.svg) 34% 34% repeat; 
        -o-border-image: url(ornament.svg) 34% 34% repeat; 
        border-image: url(ornament.svg) 34% 34% repeat;       
    }

    @keyframes logo_animation {
        0% { transform:rotateY(0deg); }
        50% { transform:rotateY(180deg); }
        100% { transform:rotateY(360deg); } 
    }

    img.animated_logo{
        -webkit-animation-name: logo_animation;
        -webkit-animation-duration: 10s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: 5;
        -webkit-animation-timing-function: linear;


        -o-animation-name: logo_animation;
        -o-animation-duration: 10s;
        -o-animation-delay: 0s;
        -o-animation-iteration-count: 5;
        -o-animation-timing-function: linear;
        
        -moz-animation-name: logo_animation;
        -moz-animation-duration: 10s;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: 5;
        -moz-animation-timing-function: linear;
        
        animation-name: logo_animation;
        animation-duration: 10s;
        animation-delay: 0s;
        animation-iteration-count: 5;
        animation-timing-function: linear;
        position: absolute;
        width: 250px;
        right: 5%;
    }


    @keyframes pic_mod_animation {
        0% { left: 60%; transform: skew(0deg);}
        25% { left: 50%; transform: skew(-30deg); }
        50% { left: 60%; transform: skew(0deg); }
        75% { left: 70%; transform: skew(30deg); }
        100% { left: 60%; transform: skew(0deg);} 
    }

    img.pic_mod{

        -webkit-animation-name: pic_mod_animation;
        -webkit-animation-duration: 10s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: 5;
        -webkit-animation-timing-function: linear;


        -o-animation-name: pic_mod_animation;
        -o-animation-duration: 10s;
        -o-animation-delay: 0s;
        -o-animation-iteration-count: 5;
        -o-animation-timing-function: linear;
        
        -moz-animation-name: pic_mod_animation;
        -moz-animation-duration: 10s;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: 5;
        -moz-animation-timing-function: linear;
        


        animation-name: pic_mod_animation;
        animation-duration: 10s;
        animation-delay: 0s;
        animation-iteration-count: 5;
        animation-timing-function: linear;
        position: absolute;
        width: 250px;
        left: 70%;
        bottom: 10%;
        transition-duration: 5s;
        transition-property: width;
    }

    img.pic_mod:hover{
        width: 300px;
    }
}

@media print {
    body {
        padding: 5px;
        margin: 5ex;
    }
    p {
        width: 100%
    }
    h1 {
        text-decoration: underline;
        font-size: 20pt;
    }
    h2, h3 {
        font-size: 0.9em;
    }
    .instruction {
        font-style: italic;
    }
    a.goToMain {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 200%;
        display: block;
    }
    footer {
        text-align: center;
    }
    table {
        margin: 20pt;
        text-align: center;
        border-collapse: collapse;
        font-size: 15pt;
    }
    th {
        height: 3em;
    }
    table, tr, td {
        border: 3px solid black;
        border-style: double;
        padding: 10pt;
    }
    a {
        text-decoration: none;
    }
}