body {
    background-color: bisque;
    font-family: arial, sans-serif
}

nav {
    font-weight: lighter;
    color: white;
    border: 2px solid rgb(172, 191, 248);
    text-align: center;
    width: 20em;
    margin: 10pt;
    padding: 5pt;
    background-color: rgb(180, 172, 248);
}

nav:hover {
    font-weight: bold;
    color: white;
    border: 2px solid rgb(172, 191, 248);
    text-align: center;
    width: 20em;
    margin: 10pt;
    padding: 5pt;
    background-color: rgb(180, 172, 248);
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 5pt;
}

li {
    padding: 2pt;
}

nav > ul {
    display: none;
}

nav:hover > ul {
    display: block;
}

nav > ul > li > ul{
    display: none;
}

nav > ul > li:hover{
    font-size: 120%;
    color: rgb(8, 78, 78);
    text-decoration: underline;
    border: 5px dotted rgb(0, 100, 100);
}

nav > ul > li:hover > ul{
    display: block;
}


nav > ul > li > ul > li > ul{
    display: none;
}

nav > ul > li > ul > li:hover > ul{
    display: block;
    background-color: rgb(180, 172, 248);
}

a.menu {
    text-decoration: none;
    color: white;
}

a:hover.menu {
    text-decoration: none;
    color: rgb(0, 100, 100);
}